stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  REGISTRY: registry.gitlab.com/inclufy/projextpal
  BACKEND_IMAGE: $REGISTRY/backend
  FRONTEND_IMAGE: $REGISTRY/frontend

# Build Frontend
build-frontend:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd frontend
    - docker build -f Dockerfile.prod 
        --build-arg VITE_BACKEND_URL=https://projextpal.com/api/v1
        --build-arg VITE_API_URL=https://projextpal.com/api/v1
        -t $FRONTEND_IMAGE:latest
        -t $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA
        .
    - docker push $FRONTEND_IMAGE:latest
    - docker push $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    - master
    - tags

# Build Backend
build-backend:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd backend
    - docker build -f Dockerfile.prod
        -t $BACKEND_IMAGE:latest
        -t $BACKEND_IMAGE:$CI_COMMIT_SHORT_SHA
        .
    - docker push $BACKEND_IMAGE:latest
    - docker push $BACKEND_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    - master
    - tags
