stages:
  - test

variables:
  POSTGRES_DB: projextpal_test
  POSTGRES_USER: projextpal
  POSTGRES_PASSWORD: test_password
  POSTGRES_HOST: postgres
  DATABASE_URL: postgresql://projextpal:test_password@postgres:5432/projextpal_test
  DJANGO_SETTINGS_MODULE: core.settings

test:backend:
  stage: test
  image: python:3.11
  services:
    - postgres:14
  before_script:
    - cd backend
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python manage.py migrate --noinput
    - python manage.py check
    # Ignore skeleton apps explicitly
    - |
      pytest \
        --ignore=hybrid/ \
        --ignore=hybrid_programme/ \
        --ignore=lss_black/ \
        --ignore=lss_green/ \
        --ignore=msp/ \
        --ignore=p2_programme/ \
        --ignore=pmi/ \
        --ignore=program_management/ \
        --ignore=safe/ \
        --ignore=cross_methodology/ \
        --ignore=workflow/ \
        -v --cov=. --cov-report=xml --cov-report=term --tb=short
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage.xml
  only:
    - master
    - main
    - merge_requests
