name: Mirror to GitLab
on:
  push:
    branches: [master]
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          git remote add gitlab https://sloukile:${{ secrets.GITLAB_TOKEN }}@gitlab.com/inclufy/projextpal.git
          git push gitlab master --force
